@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@font-face {
  font-family: 'mypiad-pro';
  src: url("../fonts/myriad-pro/MyriadProRegular.eot");
  src: url("../fonts/myriad-pro/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/myriad-pro/MyriadProRegular.woff2") format("woff2"), url("../fonts/myriad-pro/MyriadProRegular.woff") format("woff"), url("../fonts/myriad-pro/MyriadProRegular.ttf") format("truetype"), url("../fonts/myriad-pro/MyriadProRegular.svg#MyriadProRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  background: #fff;
  font-size: 16px;
  color: #00470a;
  font-family: 'myriad-pro', 'PT Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.clear:after {
  clear: both;
  content: "";
  display: block; }

.header-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  z-index: 1024; }

.header-logo {
  height: auto; }
  .header-logo img {
    height: 40px;
    width: auto; }

.header-menu,
.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .header-menu li,
  .header-menu ul li {
    padding: 0 0 0 15px; }
    .header-menu li:last-child,
    .header-menu ul li:last-child {
      padding-right: 25px; }
  .header-menu a,
  .header-menu ul a {
    color: #006302;
    font-size: 24px;
    text-decoration: none;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
    .header-menu a:hover,
    .header-menu ul a:hover {
      color: #000;
      font-weight: bold; }
  .header-menu .modal-overflow,
  .header-menu ul .modal-overflow {
    display: none; }

.header-menu-toggle {
  display: none; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-menu a,
  .header-menu ul a {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  .no-scroll {
    overflow: hidden; }
  .header-holder {
    position: relative; }
  .header-logo img {
    height: 30px; }
  .header-menu-toggle {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer; }
    .header-menu-toggle:focus {
      outline: none; }
  .header-menu ul {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .header-menu {
    border-top: 1px solid #006302; }
    .header-menu.active ul {
      max-height: 500px;
      -webkit-box-shadow: 0px 20px 10px 0px #AAAAAA;
              box-shadow: 0px 20px 10px 0px #AAAAAA; }
  .header-menu,
  .header-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1000; }
    .header-menu li,
    .header-menu ul li {
      padding: 10px 5px;
      border-bottom: 1px solid #006302; }
      .header-menu li:hover,
      .header-menu ul li:hover {
        background: #ddd; }
    .header-menu a,
    .header-menu ul a {
      font-size: 16px;
      display: block; } }

.footer {
  background: #2e9100; }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 800px;
    padding: 20px 0 10px 0;
    margin: 0 auto;
    font-size: 24px; }
  .footer-left {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer-left img {
      width: 200px;
      height: auto;
      padding-left: 20px; }
    .footer-left span {
      padding: 20px 0;
      text-shadow: -3px 4px 8px rgba(0, 0, 0, 0.6); }
  .footer-right {
    color: #fff;
    text-shadow: -3px 4px 8px rgba(0, 0, 0, 0.6); }
    .footer-right p {
      padding: 0 0 13px 0; }
    .footer-right a {
      color: #fff;
      text-decoration: none;
      cursor: pointer; }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-social .facebook span {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: url("../images/sprite.png") 0 -80px; }
    .footer-social .instagram span {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: url("../images/sprite.png") -65px -83px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    font-size: 18px;
    padding: 10px 0 5px 0; }
  .footer-left img {
    width: 150px;
    padding-left: 15px; }
  .footer-left span {
    padding: 15px 0; }
  .footer-social .facebook span,
  .footer-social .instagram span {
    zoom: 0.8; } }

@media only screen and (max-width: 767px) {
  .footer-container {
    font-size: 16px; }
  .footer-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-left img {
      width: 100px;
      padding-left: 10px; }
    .footer-left span {
      padding: 10px 0; }
  .footer-social .facebook span,
  .footer-social .instagram span {
    zoom: 0.7; } }
