@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@font-face {
  font-family: 'mypiad-pro';
  src: url("../fonts/myriad-pro/MyriadProRegular.eot");
  src: url("../fonts/myriad-pro/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/myriad-pro/MyriadProRegular.woff2") format("woff2"), url("../fonts/myriad-pro/MyriadProRegular.woff") format("woff"), url("../fonts/myriad-pro/MyriadProRegular.ttf") format("truetype"), url("../fonts/myriad-pro/MyriadProRegular.svg#MyriadProRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  background: #fff;
  font-size: 16px;
  color: #00470a;
  font-family: 'myriad-pro', 'PT Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.active-page {
  display: block !important; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.clear:after {
  clear: both;
  content: "";
  display: block; }

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto; }
  .container._vertical-padding {
    padding: 50px 0; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .container._vertical-padding {
        padding: 35px 0; } }
    @media only screen and (max-width: 767px) {
      .container._vertical-padding {
        padding: 20px 0; } }
  .container._row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

.top-banner {
  width: 100%;
  height: 350px;
  background-image: url("../images/main-top.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .top-banner h3 {
    padding: 70px 0 0 70px;
    color: #fff;
    font-size: 36px;
    max-width: 580px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .top-banner {
      height: 300px; }
      .top-banner h3 {
        padding: 50px 0 0 50px;
        font-size: 24px;
        max-width: 390px; } }
  @media only screen and (max-width: 767px) {
    .top-banner {
      height: 200px; }
      .top-banner h3 {
        padding: 30px 0 0 30px;
        font-size: 18px; } }

.main-title {
  padding: 15px 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #a5a5a5; }
  .main-title span {
    height: 50px;
    width: 100px;
    background: url("../images/sprite.png") -131px -83px;
    display: inline-block; }
  .main-title h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #2e9100; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-title {
      padding: 10px 0 0 25px; }
      .main-title span {
        zoom: 0.8; }
      .main-title h1 {
        font-size: 24px; } }
  @media only screen and (max-width: 767px) {
    .main-title {
      padding: 5px 0 0 20px; }
      .main-title span {
        zoom: 0.7; }
      .main-title h1 {
        font-size: 18px; } }

.header-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  z-index: 1024; }

.header-logo {
  height: auto; }
  .header-logo img {
    height: 40px;
    width: auto; }

.header-menu,
.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .header-menu li,
  .header-menu ul li {
    padding: 0 0 0 15px; }
    .header-menu li:last-child,
    .header-menu ul li:last-child {
      padding-right: 25px; }
  .header-menu a,
  .header-menu ul a {
    color: #006302;
    font-size: 24px;
    text-decoration: none;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
    .header-menu a:hover,
    .header-menu ul a:hover {
      color: #000;
      font-weight: bold; }
  .header-menu .modal-overflow,
  .header-menu ul .modal-overflow {
    display: none; }

.header-menu-toggle {
  display: none; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-menu a,
  .header-menu ul a {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  .no-scroll {
    overflow: hidden; }
  .header-holder {
    position: relative; }
  .header-logo img {
    height: 30px; }
  .header-menu-toggle {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    color: #00470a; }
    .header-menu-toggle:focus {
      outline: none; }
  .header-menu ul {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .header-menu {
    border-top: 1px solid #006302; }
    .header-menu.active ul {
      max-height: 500px;
      -webkit-box-shadow: 0px 20px 10px 0px #AAAAAA;
              box-shadow: 0px 20px 10px 0px #AAAAAA; }
  .header-menu,
  .header-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1000; }
    .header-menu li,
    .header-menu ul li {
      padding: 10px 5px;
      border-bottom: 1px solid #006302; }
      .header-menu li:hover,
      .header-menu ul li:hover {
        background: #ddd; }
    .header-menu a,
    .header-menu ul a {
      font-size: 18px;
      display: block; } }

.footer {
  background: #2e9100; }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 800px;
    padding: 20px 0 10px 0;
    margin: 0 auto;
    font-size: 24px; }
  .footer-left {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer-left img {
      width: 200px;
      height: auto;
      padding-left: 20px; }
    .footer-left span {
      padding: 20px 0;
      text-shadow: -3px 4px 8px rgba(0, 0, 0, 0.6); }
  .footer-right {
    color: #fff;
    text-shadow: -3px 4px 8px rgba(0, 0, 0, 0.6); }
    .footer-right p {
      padding: 0 0 13px 0; }
    .footer-right a {
      color: #fff;
      text-decoration: none;
      cursor: pointer; }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-social .facebook span {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: url("../images/sprite.png") 0 -80px; }
    .footer-social .instagram span {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: url("../images/sprite.png") -65px -83px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    font-size: 18px;
    padding: 10px 0 5px 0; }
  .footer-left img {
    width: 150px;
    padding-left: 15px; }
  .footer-left span {
    padding: 15px 0; }
  .footer-social .facebook span,
  .footer-social .instagram span {
    zoom: 0.8; } }

@media only screen and (max-width: 767px) {
  .footer-container {
    font-size: 16px; }
  .footer-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-left img {
      width: 100px;
      padding-left: 10px; }
    .footer-left span {
      padding: 10px 0; }
  .footer-social .facebook span,
  .footer-social .instagram span {
    zoom: 0.7; } }

.contact-form-wrap {
  max-width: 1024px;
  margin: 0 auto; }

.contact-form-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px; }
  .contact-form-content input,
  .contact-form-content textarea {
    -webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    background: #2e9100;
    padding: 13px;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px; }
    .contact-form-content input::-webkit-input-placeholder,
    .contact-form-content textarea::-webkit-input-placeholder {
      color: #ddd;
      font-size: 16px;
      font-weight: lighter;
      font-family: 'myriad-pro', 'PT Sans', sans-serif; }
    .contact-form-content input:-ms-input-placeholder,
    .contact-form-content textarea:-ms-input-placeholder {
      color: #ddd;
      font-size: 16px;
      font-weight: lighter;
      font-family: 'myriad-pro', 'PT Sans', sans-serif; }
    .contact-form-content input::-ms-input-placeholder,
    .contact-form-content textarea::-ms-input-placeholder {
      color: #ddd;
      font-size: 16px;
      font-weight: lighter;
      font-family: 'myriad-pro', 'PT Sans', sans-serif; }
    .contact-form-content input::placeholder,
    .contact-form-content textarea::placeholder {
      color: #ddd;
      font-size: 16px;
      font-weight: lighter;
      font-family: 'myriad-pro', 'PT Sans', sans-serif; }

.contact-form-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 10px; }
  .contact-form-left input {
    margin-bottom: 9px; }

.contact-form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%; }
  .contact-form-right textarea {
    height: 150px;
    text-align: left; }

.contact-form-submit {
  text-align: right;
  padding-bottom: 20px;
  padding-right: 10px; }
  .contact-form-submit button {
    -webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
    background: #2e9100;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; }

@media only screen and (max-width: 767px) {
  .contact-form-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10px; }
    .contact-form-content .contact-form-left, .contact-form-content .contact-form-right {
      width: 100%;
      padding: 0; } }

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  font-style: italic;
  color: #00470a;
  padding-left: 5px;
  min-height: 150px;
  line-height: 1.2; }
  .news-item p {
    max-height: 130px;
    overflow: hidden; }
  .news-item a {
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    color: #00470a;
    font-weight: bold; }
    .news-item a:hover {
      text-decoration: underline; }
  .news-item h3 {
    font-size: 24px;
    text-transform: uppercase; }
    .news-item h3 a {
      display: block;
      text-decoration: underline; }
      .news-item h3 a:hover {
        text-decoration: none; }
  .news-item._big {
    height: 260px;
    overflow: hidden; }
    .news-item._big p {
      max-height: 170px; }

.news-image {
  height: 150px;
  width: 280px; }
  .news-image._big {
    height: 200px;
    width: 400px;
    margin-right: 5px; }
  .news-image img {
    height: 100%;
    width: auto; }

.news-item._float {
  display: block; }
  .news-item._float .news-image {
    float: left;
    height: 100px;
    width: 185px; }
  .news-item._float .news-description {
    max-height: 213px;
    overflow: hidden; }
  .news-item._float p {
    display: inline; }

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  margin: 20px auto;
  .news-image {
    height: 120px;
    width: 230px; }
    .news-image._big {
      height: 160px;
      width: 300px; }
  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 25px; }
    .news-item h3 {
      font-size: 18px; }
    .news-item._big p {
      max-height: 55px; }
  .news-description {
    padding-left: 0; } }

@media only screen and (max-width: 767px) {
  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px; }
    .news-item h3 {
      font-size: 16px;
      text-align: center; }
    .news-item._big {
      height: auto; }
      .news-item._big p {
        max-height: 95px; }
    .news-item._float h3 {
      text-align: left; }
    .news-item._float .news-description {
      max-height: 210px; }
  .news-image {
    height: 100px;
    width: 200px; }
    .news-image._big {
      height: 100px;
      width: 200px; }
  .news-description {
    padding-left: 0;
    min-height: 0; } }

.home {
  display: none; }
  .home-qr-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .home-qr-holder .qr-left-column,
    .home-qr-holder .qr-middle-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 20px; }
      .home-qr-holder .qr-left-column img,
      .home-qr-holder .qr-middle-column img {
        height: 200px;
        width: 200px;
        padding-left: 20px; }
      .home-qr-holder .qr-left-column span,
      .home-qr-holder .qr-middle-column span {
        display: inline-block;
        height: 80px;
        width: 72px; }
    .home-qr-holder .qr-left-column span {
      background-image: url("../images/icon-apple.png"); }
    .home-qr-holder .qr-middle-column span {
      background-image: url("../images/icon-android.png"); }
    .home-qr-holder .qr-right-column img {
      height: 300px;
      width: auto; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .home-qr-holder {
        padding: 10px; }
        .home-qr-holder .qr-left-column img,
        .home-qr-holder .qr-middle-column img {
          height: 150px;
          width: 150px;
          padding-left: 20px; }
        .home-qr-holder .qr-left-column span,
        .home-qr-holder .qr-middle-column span {
          zoom: 0.8; }
        .home-qr-holder .qr-right-column img {
          height: 250px; } }
    @media only screen and (max-width: 570px) {
      .home-qr-holder .qr-right-column {
        width: 100%;
        text-align: center; } }
  .home-news-holder {
    padding: 30px;
    max-width: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 30px auto; }
    .home-news-holder .news-left-column,
    .home-news-holder .news-right-column {
      width: 50%;
      padding: 30px; }
    .home-news-holder .news-left-column:after {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      background: #2e9100;
      top: 0;
      bottom: 0;
      left: calc(50% - 2.5px); }
    @media only screen and (min-width: 768px) and (max-width: 1100px) {
      .home-news-holder {
        margin: 20px auto; } }
    @media only screen and (max-width: 767px) {
      .home-news-holder {
        margin: 0 auto;
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .home-news-holder .news-left-column,
        .home-news-holder .news-right-column {
          width: 100%; }
        .home-news-holder .news-left-column {
          border-bottom: 3px solid #2e9100; }
          .home-news-holder .news-left-column:after {
            display: none; } }
  .home-contact-holder h2 {
    font-size: 24px;
    color: #00470a;
    padding: 20px;
    text-align: center; }

.partners {
  display: none; }
  .partners-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 10px; }
    .partners-item:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .partners-item:nth-child(even) .partners-info {
        text-align: right;
        padding-left: 0;
        padding-right: 50px; }
  .partners-avatar {
    height: 190px;
    width: 190px;
    min-width: 190px;
    background-image: url("../images/default-partner.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .partners-info {
    padding-left: 50px; }
  .partners-name a {
    color: #2e9100;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: underline; }
  .partners-description {
    padding-top: 20px;
    font-size: 18px;
    color: #133a01;
    line-height: 1.2; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .partners-info {
    padding-left: 35px; }
    .partners-info:nth-child(even) .partners-info {
      padding-right: 35px; }
  .partners-avatar {
    height: 140px;
    width: 140px;
    min-width: 140px; }
  .partners-info {
    padding: 15px; }
  .partners-name a {
    font-size: 18px; }
  .partners-description {
    padding-top: 15px;
    font-size: 16px; } }

@media only screen and (max-width: 767px) {
  .partners-avatar {
    height: 140px;
    width: 140px;
    min-width: 140px; }
  .partners-info {
    padding: 15px;
    text-align: center; }
  .partners-name a {
    font-size: 18px; }
  .partners-description {
    padding-top: 15px;
    font-size: 16px; }
  .partners-item,
  .partners-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0; }
    .partners-item *,
    .partners-item:nth-child(even) * {
      text-align: center; } }

.news {
  display: none; }
  .news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto; }
  .news .green-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: rgba(46, 145, 0, 0.3);
    width: 40%; }
  .news-left {
    max-width: 460px; }
  .news-right {
    max-width: 920px;
    width: 60%; }
  .news-left, .news-right {
    padding: 30px; }

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .news-left,
  .news-right {
    padding: 20px; } }

@media only screen and (max-width: 767px) {
  .news-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .news-content .green-background {
      width: 100%; }
  .news-left,
  .news-right {
    padding: 15px;
    max-width: 100%;
    width: 100%; } }
