.article {
  display: none;
  color: $font-dark-green;
  font-size: $font-s;
  &-holder {
    padding: 40px 40px 80px 40px;
  }
  h2 {
    font-size: $font-l;
    text-align: center;
    text-decoration: underline;
  }
  &-content {
    padding-top: 40px;
    p {
      display: inline;
      line-height: 1.1;
      white-space: pre-line;
    }
  }
  &-image {
    height: 350px;
    width: 600px;
    max-width: 600px;
    padding-right: 15px;
    float: left;
    img {
      height: auto;
      width: 100%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1100px) {
    .article-holder,
    .article-content  {
      padding: 30px;
    }

    .article-holder {
      padding-bottom: 60px;
    }
    .article-image {
      height: 300px;
      width: 550px;
    }
    h2 {
      font-size: $font-m;
    }
  }
  @media only screen and (max-width: 767px) {
    .article-holder,
    .article-content {
      padding: 20px;
    }
    .article-holder {
      padding-bottom: 40px;
    }
    .article-image {
      height: auto;
      width: 100%;
      padding: 0 0 20px 0;
      overflow: hidden;
      float: none;
      text-align: center;
    }
    h2 {
      font-size: $font-m;
    }
  }
}