.home {
  //display: none;
  &-qr-holder {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-around;
    .qr-left-column,
    .qr-middle-column {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      img {
        height: 200px;
        width: 200px;
        padding-left: 20px;
      }
      span {
        display: inline-block;
        height: 80px;
        width: 72px;
      }
    }
    .qr-left-column {
      span {
        background-image: url("../images/icon-apple.png");
      }
    }
    .qr-middle-column {
      span {
        background-image: url("../images/icon-android.png");
      }
    }
    .qr-right-column {
      img {
        height: 300px;
        width: auto;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      padding: 10px;
      .qr-left-column,
      .qr-middle-column {
        img {
          height: 150px;
          width: 150px;
          padding-left: 20px;
        }
        span {
          zoom: 0.8;
        }
      }
      .qr-right-column {
        img {
          height: 250px;
        }
      }
    }
    @media only screen and (max-width: 570px) {
      .qr-right-column {
        width: 100%;
        text-align: center;
      }
    }
  }
  &-news-holder {
    padding: 30px;
    max-width: 1400px;
    display: flex;
    position: relative;
    margin: 30px auto;
    .news-left-column,
    .news-right-column {
      width: 50%;
      padding: 30px;
    }
    .news-left-column {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        background: $green;
        top: 0;
        bottom: 0;
        left: calc(50% - 2.5px);
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1100px) {
      margin: 20px auto;
    }
    @media only screen and (max-width: 767px) {
      margin: 0 auto;
      padding: 0;
      flex-direction: column;
      .news-left-column,
      .news-right-column {
        width: 100%;
      }
      .news-left-column {
        border-bottom: 3px solid $green;
        &:after {
          display: none;
        }
      }
    }
  }
  &-contact-holder {
    h2 {
      font-size: $font-l;
      color: $font-dark-green;
      padding: 20px;
      text-align: center;
    }
  }
}