.news {
  &-item {
    display: flex;
    padding-bottom: 50px;
    font-style: italic;
    color: $font-dark-green;
    padding-left: 5px;
    min-height: 150px;
    line-height: 1.2;
    p {
      max-height: 130px;
      overflow: hidden;
    }
    a {
      font-style: normal;
      text-decoration: none;
      cursor: pointer;
      color: $font-dark-green;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    h3 {
      font-size: $font-l;
      text-transform: uppercase;
      a {
        display: block;
        text-decoration: underline;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &._big {
      height: 260px;
      overflow: hidden;
      p {
        max-height: 170px;
      }
    }
  }
  &-image {
    height: 150px;
    max-width: 300px;
    width: auto;
    padding-right: 10px;
    vertical-align: middle;
    &._big {
      height: 200px;
      max-width: 390px;
      width: auto;
      padding-right: 10px;
    }
    img {
      height: 100%;
      width: auto;
    }
  }
  &-item._float {
    display: block;
    .news-image {
      float: left;
      height: 100px;
      max-width: 185px;
      width: auto;
      margin-right: 10px;
      overflow: hidden;
    }
    .news-description {
      max-height: 203px;
      overflow: hidden;
    }
    p {
      display: inline;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  margin: 20px auto;
  .news-image {
    height: 120px;
    max-width: 230px;
    padding-right: 0;
    &._big {
      height: 160px;
      max-width: 300px;
      padding-right: 0;
    }
  }
  .news-item {
    flex-direction: column;
    padding-bottom: 25px;
    h3 {
      font-size: $font-m;
    }
    &._big {
      p {
        max-height: 55px;
      }
    }
    &._float {
      .news-description {
        max-height: 211px;
      }
    }
  }
  .news-description {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .news-image {
    height: 100px;
    max-width: 200px;
    &._big {
      height: 100px;
      max-width: 200px;
    }
  }
  .news-description {
    padding-left: 0;
    min-height: 0;
  }
  .news-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    h3 {
      font-size: $font-s;
      text-align: center;
    }
    &._big {
      height: auto;
      p {
        max-height: 95px;
      }
    }
    &._float {
      h3 {
        text-align: left;
      }
      .news-description {
        max-height: 210px;
      }
      .news-image {
        margin-right: 0;
      }
    }
  }
}